
.row {
  margin-right: 0!important;
  margin-left: 0!important;
}
.btn {
  padding: .25rem !important;
}



/* RECIPE */
.card {
    border: none;
  }
  
  .content a:nth-child(1) {
    font-size: 1.25rem;
    font-weight: 300;
    color: var(--mainBlack);
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .sub__title {
    font-size: 0.75rem;
    font-weight: 300;
    color: var(--mainOrange);
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  h2.card-title {
    font-size: 1.05rem;
    font-weight: 300;
    color: var(--mainDarkGrey);
    letter-spacing: 1px;
    text-transform: capitalize;
  }
  
  .ingredients-card {
    text-align: right;
    font-size: 0.85rem;
  }
  
  i.fa-arrow-alt-circle-left {
    font-size: 2.25rem;
  }
  
  i.fa-arrow-alt-circle-left {
    color: var(--mainDarkGrey);
    transition: all 0.5s ease-out;
    transform: scale(1);
  }
  
  i.fa-bookmark:hover,
  i.fa-heart:hover,
  i.fa-arrow-alt-circle-left:hover {
    color: var(--mainOrange);
    transform: scale(1.2);
  }
  

  
  /* LIST INGREDIENTS */
  
  .list-group-item {
    font-size: 1.15rem;
    line-height: 2rem;
  }