.toolbar{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    background: var(--mainWhite);
    height:56px;
    z-index:100;
    padding: 0 1rem;
    box-shadow: 2px 0px 5px rgba(0,0,0,.5);
 
}

.toolbar__logo a{
    color: var(--mainOrange);
    font-size: 1.25rem;
}

.toolbar__nav{
height:100%;

}

.toolbar__nav-items ul{
    list-style: none; 
    margin:0;
    padding:0;
}
.toolbar__nav-items li{   
    padding:0 0.5rem;
    margin:0 1rem;
    text-transform: uppercase;
}
.toolbar__nav-items a{
    color: var(--mainOrange);
    text-decoration: none; 
    cursor: pointer;

}

 
.toolbar__nav-items li:hover,
a.selected.active:focus,
a.selected.active:hover{
    background:   var(--mainOrange);
    color: var(--mainWhite);
}

a.selected.active{
    background: var(--lightOrange);
    color: var(--mainWhite);
}
 
button.toggle-button {
    outline: none;
}

.spacer{
    flex:1;
}

@media(max-width:768px){
    .toolbar__nav-items{
        display: none;
    }
}
@media(min-width:769px){
    .toolbar__toggleBtn{
        display: none;
    }
}