* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

:root {
  --mainOrange: #f93f23;
  --mainGrey: #ddd;
  --mainWhite: #fefefe;
  --mainDarkGrey: #444;
  --mainBlack: #2c2929;
}

/* NAVBAR */

.navbar-brand {
  color: var(--mainOrange) !important;
  /* color: #f93f23 !important; */
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.navbar-brand a {
  color: var(--mainOrange);
  /* color: #f93f23; */
}
.navbar-brand {
  color: var(--mainOrange);
  /* color: #f93f23; */
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  margin: 0;
}
@media screen and (min-width: 675px) {
  .navbar > .container-fluid {
    flex-wrap: nowrap;
  }
}
@media screen and (max-width: 675px) {
  .brief__desc {
    order: 2;
    margin-bottom: 0;
  }

  .navbar-brand {
    color: var(--mainOrange);
    /* color: #f93f23 !important; */
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }
  .seo i.fab {
    font-size: 0.75rem;
    padding: 0.15rem;
  }
}

.brief__desc a {
  margin-left: 0.45rem;
}

.seo i.fab {
  font-size: 1.5rem;
  align-self: flex-end;
  padding: 0.25rem;
}

.seo i.fab:hover {
  color: var(--mainOrange);
  /* color: #f93f23; */
  padding-top: 0.5rem;
}
.fa-twitter-square {
  color: #38a1f3;
}
.fa-pinterest-square {
  color: #c8232c;
}
.fa-instagram {
  color: #3fc29b;
}

/* HOME */

.showcase .input-group {
  /* padding: 2rem; */
  width: 80%;
  border: 0;
  padding: 0.75rem;
  position: relative;
  cursor: pointer;
}

.input-group-prepend {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 85%;
  align-items: center;
  z-index: 10;
  color: var(--mainGrey);
  font-size: 1.5rem;
}

.searchButton {
  background: var(--mainOrange);
  border: 0;
  color: var(--mainWhite);
  padding: 0.5rem;
  border-radius: 0;
  grid-column: 4/5;
  grid-row: 1;
}
.searchButton:focus {
  outline: none;
}

@media (min-width: 678px) {
  .input-group-prepend {
    left: 90%;
  }
}

/* RECIPE LIST CONTAINER */

.container__recipes-list {
  margin-top: 2rem;
  border-top: 1rem solid var(--mainOrange);
}
.title__recipes-list {
  padding: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  color: var(--mainDarkGrey);
}

/* RECIPE */
.card {
  border: none;
}

.content a:nth-child(1) {
  font-size: 1.25rem;
  font-weight: 300;
  color: var(--mainBlack);
  letter-spacing: 1px;
  text-transform: uppercase;
}

.sub__title {
  font-size: 0.75rem;
  font-weight: 300;
  color: var(--mainOrange);
  text-transform: uppercase;
  letter-spacing: 1px;
}

h2.card-title {
  font-size: 1.25rem;
  font-weight: 300;
  color: var(--mainDarkGrey);
  letter-spacing: 1px;
  text-transform: uppercase;
}

.ingredients-card {
  text-align: right;
  font-size: 0.85rem;
}

i.fa-arrow-alt-circle-left {
  font-size: 2.25rem;
}

i.fa-arrow-alt-circle-left {
  color: var(--mainDarkGrey);
  transition: all 0.5s ease-out;
  transform: scale(1);
}

i.fa-bookmark:hover,
i.fa-heart:hover,
i.fa-arrow-alt-circle-left:hover {
  color: var(--mainOrange);
  transform: scale(1.2);
}

/* GALLERY */
.gallery-item__img {
  width: 100%;
  height: 100%;
  display: block;
  transition: all 1s linear;
}

.gallery-item {
  overflow: hidden;
  position: relative;
}

.gallery-item:hover .gallery-item__img {
  opacity: 0.9;
  transform: scale(1.2);
  margin-top: 1.25rem;
}

.gallery-item:hover .sub__title {
  font-size: 1.25rem;
  display: block;
  margin-top: 1.25rem;
}

.gallery-item__icon:hover {
  color: var(--brown);
  cursor: pointer;
}

/* LIST INGREDIENTS */

.list-group-item {
  font-size: 1.15rem;
  line-height: 2rem;
}

/* FOOTER */

footer {
  background-color: #000;
  padding: 2rem;
  max-width: 100%;
}
.brief__description {
  color: var(--mainWhite);
  text-align: justify;
  font-size: 1.25rem;
  font-weight: 200;
  letter-spacing: 0.4px;
  padding-bottom: 30px;
}
.copy__right span {
  color: var(--mainWhite);
}

@media screen and (min-width: 765px) {
  .brief__description {
    padding-bottom: 0;
    padding-right: 85px;
    width: 50%;
  }
}
@media screen and (min-width: 640px) {
  .brief__description {
    letter-spacing: 0.6px;
  }
  footer {
    margin-top: 1.25rem;
  }

  .copy__right {
    margin-top: 1.25rem;
  }
}
