* {
  margin: 0;
  padding: 0;
}

:root {
  --mainOrange: #f93f23;
  --mainGrey: #ddd;
  --mainWhite: #fefefe;
  --mainDarkGrey: #444;
  --mainBlack: #2c2929;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
 
}

.App {
  text-align: center;
  height: 100%;

}
.wrapper {
  text-align: center;
    height:100%;
  min-height: calc(100vh - 100px);  
}


 