html {
   height:100%
}
body {
  margin: 0;
  padding: 0;
   box-sizing: border-box;
   height:100%
}
:root {
  --mainOrange: #f93f23;
  --lightOrange: rgba(249, 63, 35,.5);
  --mainGrey: #ddd;
  --mainWhite: #fefefe;
  --mainDarkGrey: #444;
  --mainBlack: #2c2929;
}
 
